<ion-content scroll="false">
  <div class="splash-bg">
      <div class="splash-intro">
          Hi Astrid! You are a good planner
          <p class="info">Let's go make your dream come true by finishing 2 remaining plan</p>
        </div>
  <img src="assets/imgs/happy.png" />
  </div>
    <div class="splash-info">
    <div>
        <div>
            <ion-card>
              <ion-card-content>
                  <p>Hi Astrid! You are a good planner
                      Let's go make your dream come true by finishing 2 remaining plan
                    </p>
                </ion-card-content>
          </ion-card>
        </div>
    </div>
    
  </div>
  <div padding>
    <button ion-button block round (click)="addItem()">Add New Plan</button>
  </div>

  <ion-list>
      <ion-item-sliding *ngFor="let item of currentItems">
        <button ion-item (click)="openItem(item)">
          <ion-avatar item-start>
            <img [src]="item.profilePic" />
          </ion-avatar>
          <h2>{{item.name}}</h2>
          <p>{{item.about}}</p>
          <ion-note item-end *ngIf="item.note">{{item.note}}</ion-note>
        </button>
  
        <ion-item-options>
          <button ion-button color="danger" (click)="deleteItem(item)">
            {{ 'DELETE_BUTTON' | translate }}
          </button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
</ion-content>
